*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: black;
  color: azure;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.logo {
  cursor: pointer;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.menu__item {
  cursor: pointer;
}

.menu__item a {
  text-decoration: none;
  color: rgb(161, 161, 161);
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.visible {
  display: block !important;
}

footer {
  background-color: gray;
}

#about-section,
#contact-section {
  display: none;
}

.shows-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tv-img img {
  width: 160px;
}

.btn-close {
  color: white;
  background-color: white;
}

.main-container {
  margin-bottom: 20px;
}

.popup-first-section {
  background: rgb(20, 19, 19);
}

.modal-header {
  display: flex;
  flex-direction: column;
  background-color: rgb(35, 34, 34);
}

.popup-image {
  width: 50%;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}

.form-submit-buttons {
  display: flex;
  border: none;
  justify-content: space-around;
  margin-left: 90px;
  margin-top: 10px;
}
