*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.logo {
  cursor: pointer;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.menu__item {
  cursor: pointer;
}

.menu__item a {
  text-decoration: none;
  color: rgb(161, 161, 161);
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.visible {
  display: block !important;
}

footer {
  background-color: gray;
}

#about-section,
#contact-section {
  display: none;
}

.shows-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  margin-bottom: 20px;
}
